<div class="inspector">
    <div class="content">
        <div>
            <app-environment-inspector *ngIf="!object">
            </app-environment-inspector>
        </div>
        <div class="section" *ngIf="object">
            <div class="row">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input [(ngModel)]="object.name" matInput type="text">
                </mat-form-field>
            </div>
        </div>

        <div *ngIf="object">
            <app-transform-input [object]="object"></app-transform-input>
        </div>
        <div *ngIf="object">
            <app-object-properties [object]="object"></app-object-properties>
        </div>
    </div>
</div>