.inspector {
    height: 100%;
    width: 300px;
    background: #888;
}
.content {
    padding: 8px;
    &>* {
        margin-bottom: .5em;
    }
    ::ng-deep .mat-mdc-form-field{
        margin-bottom: -1em;
    }
}
