:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
    display: flex;
    min-height: 0;
    align-items: stretch;
    overflow: auto;
    & > .router-outlet {
        flex: 1;
        max-height: 100%;
        overflow: auto;
    }
}

mat-toolbar {
    padding: 0 8px;
    & > span {
        padding: 0 8px;
    }
}




