:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
    display: flex;
    align-items: stretch;
    & > .router-outlet {
        flex: 1;
        & > * {
            height: 100%;
        }
    }
}

mat-toolbar {
    padding: 0 8px;
    & > span {
        padding: 0 8px;
    }
}