<div class="container">
  <div class="toolbar">
    <button mat-icon-button routerLink="new-task">
      <mat-icon>
        add
      </mat-icon>
    </button>
  </div>
  <div class="content">
    <mat-selection-list #taskList [multiple]="false" [(ngModel)]="selectedTask" (ngModelChange)="selectTask(taskList.selectedOptions.selected)">
      <mat-list-option *ngFor="let task of tasks" [value]="task">
        {{task.config}} ({{task.type}})
      </mat-list-option>
    </mat-selection-list>

    <div class="log">
      <app-ace-editor [readonly]="true" [autoscroll]="true" [editorContent]="log"></app-ace-editor>
    </div>
  </div>
</div>