
<div class="container" style="height: 100%; width: 100%;">
  <app-toolbar-top></app-toolbar-top>
  <div class="horizontal-container" *ngIf="sceneService.rootNode">
    <app-object-inspector></app-object-inspector>
    <app-scene></app-scene>
    <app-tree-view></app-tree-view>
  </div>
  <div class="hint" *ngIf="!sceneService.rootNode">
    <div class="title">No config loaded</div>
    <div class="subtitle">Please upload an existing config or create a new one</div>
  </div>
</div>
<app-robot-popover></app-robot-popover>
