<app-information [dataObject]="dataObject"></app-information>
<div style="z-index: 999;">
  <app-popover *ngIf="showPopover" [position]="popoverPosition"></app-popover>
</div>
<div style="height: 100%; width: 100%;">
  <ngt-canvas>
    <ngt-ambient-light intensity="0.5"></ngt-ambient-light>
    <ngt-spot-light [position]="10" angle="0.15" penumbra="1"></ngt-spot-light>
    <ngt-point-light [position]="-10"></ngt-point-light>
    <ngt-axes-helper [scale]="1"></ngt-axes-helper>
    <app-robot [position]="[0, 0, 0]" [dataObject]="dataObject" (newDataObject)="changeDataObject($event)"></app-robot>
    <ngt-soba-orbit-controls [enableZoom]="enableZoom"></ngt-soba-orbit-controls>
  </ngt-canvas>
</div>


