<ngt-canvas [scene]="scene" [camera]="camera" style="background: rgba(0, 0, 0, .8)">
    <ngt-ambient-light intensity="0.5"></ngt-ambient-light>
    <ngt-spot-light [position]="10" angle="0.15" penumbra="1"></ngt-spot-light>
    <ngt-point-light [position]="-10"></ngt-point-light>
    <ngt-axes-helper [scale]="1"></ngt-axes-helper>

    <ngt-group (click)="objectClick($event)" (pointermissed)="objectMiss($event)">
        <app-robot *ngFor="let robot of sceneService.robots" [robot]="robot"></app-robot>

        <app-obstacle *ngFor="let obstacle of sceneService.obstacles" [obstacle]="obstacle"></app-obstacle>
    
        <app-transform-controls [controlledObject]="uiService.selectedObject"></app-transform-controls>
    </ngt-group>
  
    <ngt-soba-orbit-controls [makeDefault]="true" [enableZoom]="uiService.enableZoom"></ngt-soba-orbit-controls>
</ngt-canvas>