.container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}

.plot-view {
  flex: 0 0 60%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.plot-wrapper {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  overflow: visible;
  z-index: 2;
  padding-right: 20px;
  min-height: 35rem;
  margin-bottom: 1em;
  width: calc(50% - 0.5rem);
}

.workspace {
  flex: 1;
  background-color: #f8f9fa;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.plot-controls {
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  font-size: 16px;
  appearance: none;
  background-color: #f8f9fa;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFA9A9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 8px;
  font-size: 16px;
  color: #ffffff;
  width: 30px;
  height: 30px;
  z-index: 1;
}

.close-btn:hover {
  background-color: #FF5656;
}

.plotly-plot-container {
  position: relative;
  z-index: -2;
}

textarea {
  width: 100%;
  height: 350px;
  resize: vertical;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  font-size: 12px;
  background-color: #f8f9fa;
  box-sizing: border-box;
}

.custom-plot-definition {
  max-width: 100%;
  box-sizing: border-box;
}

.plot-specific-code {
  width: 100%;
  height: 100px;
  resize: vertical;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  font-size: 12px;
  background-color: #f8f9fa;
  box-sizing: border-box;
  margin-top: 10px;
}

.import-csv-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.import-csv-section label {
  font-size: 14px;
  font-weight: 500;
}

#importCsvInput {
  font-size: 14px;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  background-color: #f8f9fa;
}

.csv-list {
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 500;
}

.csv-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.csv-list li {
  padding: 0.25rem 0;
}