.plots {
  flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &>* {
        flex: 1;
      min-height: 33vh;
    }
  border-right: 1px solid black;
}
.container {
  display: flex;
  min-height: 100%;
  width: 100%;
}
