.plot-container {
  display: flex;
  height: 100%;
}

.legend {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.legend-item {
  display: flex;
  & > * {
    padding-left: 8px;
  }
}

plotly-plot {
  flex: 1;
  height: 100%;
}

.titleChange {
  background-color: aquamarine;
  width: 5rem;
  height: 2rem;
  margin-top: 9rem;
}
