<div class="motion-replay">
  <div class="robots">
    <mat-card *ngFor="let robot of motionReplayService.robots">
      <mat-card-title>{{robot}}</mat-card-title> 
    </mat-card>
    <mat-card *ngIf="motionReplayService.robots.length == 0">
      <mat-card-title>No Robot</mat-card-title> 
    </mat-card>
  </div>
  <div class="animation-controls">
    <input type="file" hidden #file (change)="onFileSelected($event)" />
    <button mat-button (click)="file.click()">
      <mat-icon>
        upload
      </mat-icon>
    </button>
    <button mat-button (click)="motionReplayService.start()" *ngIf="!motionReplayService.playing">
      <mat-icon>
        play_arrow
      </mat-icon>
    </button>
    <button mat-button (click)="motionReplayService.stop()" *ngIf="motionReplayService.playing">
      <mat-icon>
        pause
      </mat-icon>
    </button>
    
    <mat-slider min="0" [max]="motionReplayService.maxIndex" step="1">
      <input matSliderThumb [(ngModel)]="motionReplayService.currentIndex">
    </mat-slider>

    <mat-form-field class="example-full-width">
      <mat-label>Animation Step</mat-label>
      <input matInput [(ngModel)]="motionReplayService.step_interval" type="number">
    </mat-form-field>
  </div>
</div>