.animation-controls {
  background: #999;
  color: white;
  display: flex;
  align-items: center;
  button {
    mat-icon {
      transform: scale(2);
    }
  }
  mat-slider {
    flex: 1;
  }
}
.robots {
  padding: 4px;
  display: flex;
  background: #888;
  margin-bottom: 1px solid black;
}
mat-card {
  padding: 4px;
}