mat-icon {
    transform: scale(1.6);
    margin-right: 0 !important;
    margin-left: 0 !important;
}
button {
    height: 90% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}