.entry {
    width: 50%;
    display: flex;
    align-items: center;
    &>* {
        flex: 1;
    }
}
.editor {
    display: flex;
    flex-wrap: wrap;
}

.title {
  display: flex;
  padding-left: 8px;
  justify-content: space-between;
  align-items: center;
}