:host {
  width: 100%;
  height: 100%;
}

mat-checkbox {
    margin-bottom: 20px;
}


.wrapper {
  height: 100%;
  padding: 8px;
    &>* {
        width: 100%;
    }
    text-align: start;
}

small {
  margin-left: .5rem;
}